{% extends 'base.html' %}
{% block content %}

    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="reset" value="Reset" />
    <input type="submit" name="add" value="Add_another" />
    <input type="submit" name="next" value="Next" />
    </form>

    <table class="table table-striped table-dark">
    <thead class="thead-light">
        <tr>
        <th>Language</th>
        <th>Level</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>

    </thead>{% for element in mylg %}
            <tr>
            <td>{{ element.language }}</td>
            <td>{{ element.level }}</td>
            <td><a  href="" class="btn btn-primary btn-xs">Edit</a></td>
            <td><a  href="" class="btn btn-primary btn-xs">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}