{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary mb-2" name="save">Save</button>
    </form>

    <table class="table table-striped table-dark">
        <thead class="thead-light">
        <tr>
            <th>Skill</th>
            <th>Level</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>

        </thead>
        {% for element in mysk %}
            <tr>
                <td>{{ element.skill }}</td>
                <td>{{ element.level }}</td>
                <td><a name="css" href="{% url 'skill_delete' data=element.data_id pk=element.id %}"
                       class="btn btn-primary btn-xs">Delete</a></td>
                <td><a name="css" href="{% url 'skill_edit' data=element.data_id pk=element.id %}"
                       class="btn btn-primary btn-xs">Edit</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}